{% extends "base.html.twig" %}
{% block title 'KCOM Vending Machine' %}
{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    {% stylesheets
    '@bootstrap_css'
    output='css/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@jquery'
    '@bootstrap_js'
    '@vendingmachine'
    output='js/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}